<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Dashboard
    </ion-title>
    <ion-button (click)="addContact()">
      <ion-icon slot="end" name="add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor="let contact of Contacts" >
    <ion-item-sliding>
      <ion-item size-md="6" offset-md="3">
        <ion-avatar slot="start">
          <img src="assets/icon/avatar.jpg">
        </ion-avatar>
        <ion-title>{{contact.name}}</ion-title>
        <!-- <h2>{{contact.name}}</h2> &nbsp;
        <p slot="end">{{contact.phone}}</p> -->
        <ion-button (click)="deleteContact(contact.phone)">
          <ion-icon slot="end" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option >Call</ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color = "danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item>
    <ion-label position="floating">Contact Name</ion-label>
    <ion-input type="text" [(ngModel)]="newContact.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Phone Number</ion-label>
    <ion-input type="text" [(ngModel)]="newContact.phone"></ion-input>
  </ion-item>
  <ion-button (click)="addContact()">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    Add Contact
  </ion-button>
</ion-content>
